  h1{
    text-align: center;
    font-size: 3rem;
    border:0.3rem solid red;
    padding: 0.3rem;
    margin: 0.5rem;
  }
  h1>a, div>a{
    text-decoration:none;
    margin: 0.3rem;
  }
  div>a{
    border:0.2rem solid red;
  }
  #menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  input{
    margin:0.5rem;
  }
  @media(min-width:800px){
    div{
    }
  }
